<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mac.mykitchenapp1">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="FreshBox"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".Main"
            android:label="FreshBox"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Meal"/>
        <activity android:name=".Category"/>
        <activity android:name=".Inventory"/>
        <activity android:name=".About"/>
        <activity android:name=".Vegi"/>
        <activity android:name=".Meat"/>
        <activity android:name=".Can"/>
        <activity android:name=".Drink"/>
        <activity android:name=".Fruit"/>
        <activity android:name=".Other1"/>
        <activity android:name=".Other2"/>
    </application>

</manifest>